<div>
  <h1>Sowordで自分だけの単語帳を作ろう</h1>
  <br><h4>＜使い方＞</h2>
  <br><h4>・「新規登録」でアカウント作成</h4>
  <br><h4>・My単語帳に新しく覚えた単語をどんどん追加！</h4>
  <br><h4>・普段の何気ない会話で出てきた単語をメモ</h4>
  <br><h4>・類似した単語でも検索できる</h4>
  <br><h4>・完璧に覚えた単語は削除しても良し</h4>
  <%= link_to "新規登録", signup_path, class: "btn btn-success" %>
</div>